* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

.dark-mode{
    background-color: black;
    background-image: url("../images/darkmodeBG.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    padding: 20px;
    color: white;

}

.dark-mode .card{
    background-color: grey;
}

.dark-mode button{
    padding: 10px;
    background-color: rgb(194, 31, 113);
    color: white;
    border: none;
    cursor: pointer;
}

.dark-mode th {
    background-color: rgb(194, 31, 113);
    color: white;

}

.dark-mode #ProfilePic{
    border: 5px;
    border-style: solid;
    border-color: rgb(194, 31, 113);
    width: 150px;
    height: 200px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("../images/Pinkbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    padding: 20px;
    }

.container {
    max-width: 800px;
    margin: 0 auto;
    }

.card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

/* || Typography */
h1 {
    text-align: center;
    margin-bottom: 10px;
    }

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    }
p {
    margin-bottom: 10px;
    }

ul {
    margin-left: 20px;
    margin-bottom: 10px;
    }

a {
    text-decoration: none;
    color: pink;
    }

a:hover {
    color: rgb(148, 224, 243);
    }


#ProfilePic{
    border: 5px;
    border-style: solid;
    border-color: pink;
    width: 150px;
    height: 200px;
}

#subtitle{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    }
    
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    }

th {
    background-color: pink;
    color: white;
    }

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

.hidden {
    display:none;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

button {
    padding: 10px;
    background-color: pink;
    color: white;
    border: none;
    cursor: pointer;
    }

button:hover {
    background-color: rgb(147, 190, 224);
    }


#Copyright{
        text-align: right;
    }